/* .spotify-icon-header {} */

.spotify-icon-header:hover {
  filter: brightness(0.8); /* ホバー時に少し暗くする */
  cursor: pointer; /* クリック可能であることを示すカーソルは引き続き設定 */
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto; /* 横スクロールを有効にする */
  padding-top: 5px; /* リストの上部に少し余白 */
  padding-bottom: 20px; /* リストの下部に少し余白 */
  padding-left: 10px;
  padding-right: 10px;
  gap: 5px; /* 各楽曲アイテム間の隙間 */
}

/* MusicItemIconがコンテナ内で縮まないようにする */
.horizontal-scroll-container .musicItemIcon {
  flex-shrink: 0;
  /* 必要に応じてMusicItemIconの幅を固定することもできます */
  /*例: width: 150px; */
  height: 150px;
  width: 150px;
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* .horizontal-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.horizontal-scroll-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
} */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* ページ全体のスクロールは禁止 */
}

.Home {
  display: flex;
  flex-direction: column;
  height: 100%; /* 親要素 (body, #root) の高さを引き継ぐ */
  /* overflow: hidden; は #root に設定したので、ここでは不要 */
}

.Home .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #5D8DBA;
    color: #fff;
}

.Home .main {
  flex-grow: 1; /* 残りのスペースを全て占有する */
  overflow-y: auto; /* 縦方向のコンテンツがはみ出たらスクロールバーを表示 */
  -webkit-overflow-scrolling: touch; /* iOSでのスクロールをスムーズにする（任意） */
  padding-top: 60px; /* ヘッダーの高さ50pxから10px分 */
  /* padding-bottom は Navbar との兼ね合いで調整が必要になる場合があります */
  box-sizing: border-box; /* padding を含めて幅を計算 */
  width: 100vw;
  background-color: #E8F2FF;
  color: black;
}

.Home .main::-webkit-scrollbar {
  display: none;
}

.Home .footer {
  /* position: fixed; はそのまま */
  /* width: 100%; はそのまま */
  /* height: headerHeight; はそのまま */
  flex-shrink: 0; /* ヘッダーの高さは固定し、縮まないようにする */
  height: 50px;
}

/* ホーム画面のセクションヘッダー内の「すべて見る」リンクのスタイル */
.Home .main .section-header .LinkButton .nav-item {
  color: #5D8DBA; /* 文字色を青に設定 */
}

.Home .main .section-header .LinkButton .nav-item:hover {
  text-decoration: underline; /* ホバー時に下線を表示（任意） */
}
